In [1]:
om.setup()

Omega(mongo_url=mongodb://FEBfEFRkz4ASsHSBWWkULMaK7TRS3T4gwGnp:pDWvmrB7q9ayuZ7TqZrtk4XJqesbNnHbmjZh@omegaml.omegaml.io:27017/test3)

In [6]:
class foo():
    def __iter__(self):
        return iter(['a', 'b'])

bar = []
bar.extend(foo())
bar

['a', 'b']

In [7]:
import pandas as pd

df = pd.DataFrame({
    'x': range(5),
    'y': range(5)
})
om.datasets.put(df, 'sample', append=False)

mdf = om.datasets.getl('sample')
mdf.apply(lambda v: (v * 2)).value

   x  y
0  0  0
1  2  2
2  4  4
3  6  6
4  8  8

In [8]:
def complexfn(ctx):
    ctx.add({
        '$project': {
            'x': {
                '$multiply': ['$x', 5]
            }
        }
    })
    return ctx
mdf.apply(complexfn).value

    x
0   0
1   5
2  10
3  15
4  20

In [15]:
def complexfn(ctx):
    ctx.project(x={
                '$multiply': ['$x', 5]
    }, b={'$divide': ['$x', 5]})
    return ctx
mdf.apply(complexfn).value

     b   x
0  0.0   0
1  0.2   5
2  0.4  10
3  0.6  15
4  0.8  20

In [16]:
import pandas as pd

df = pd.DataFrame({
    'x': pd.date_range(start='now', periods=5),
    'y': range(5),
})
om.datasets.put(df, 'sample', append=False)

mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v['x'].dt.dayofweek).value

   x
0  2
1  3
2  4
3  5
4  6

In [17]:
import pandas as pd
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: dict(a=v['x'].dt.dayofweek,
                         b=v['x'].dt.year)).value

   a     b
0  2  2018
1  3  2018
2  4  2018
3  5  2018
4  6  2018

In [2]:
import pandas as pd
df = pd.DataFrame({
    'x': ['abc', 'def'],
    'b': ['xyz', 'nop'],
})

om.datasets.put(df, 'sample', append=False)
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v.str.concat(['x', '*', 'b'])).value

         b        x
0  abc*xyz  abc*xyz
1  def*nop  def*nop

In [14]:
mdf['x'].apply(lambda v: v.str.concat(['foo'])).inspect()

{'pipeline': [{'$project': {'_id': 1, 'x': {'$concat': ['foo']}}}]}

In [12]:
mdf = om.datasets.getl('sample')
print(mdf.value)
mdf.apply(lambda v: v.str.split('a')).value

     b    x
0  xyz  abc
1  nop  def

     b    x
0  xyz
1  xyz   bc
2  nop  def

In [6]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v.str.lower()).value

     b    x
0  xyz  abc
1  nop  def

In [8]:
mdf = om.datasets.getl('sample')
mdf['x'].apply(lambda v: v.str.substr(0, 2)).value

0    ab
1    de
Name: x, dtype: object

In [1]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v['x'].str.isequal('abc')).value

       x
0   True
1  False

In [7]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v['x'].str.len()).value

   x
0  3
1  3

In [8]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v['x'].str.index('bc', 0)).value

   x
0  1
1 -1

In [26]:
mdf.apply(lambda ctx: ctx['v'] * 5 + 2).inspect()

{'pipeline': [{'$project': {'_id': 1, 'v': {'$multiply': ['$v', 5]}}},
  {'$project': {'_id': 1, 'v': {'$add': ['$v', 2]}}}]}

In [42]:
mdf.apply(lambda ctx: dict(a=ctx['v'] * 5, b=ctx['v'] / 2)).inspect()

{'pipeline': [{'$facet': {'a': [{'$project': {'_id': 1,
       'v': {'$multiply': ['$v', 5]}}},
     {'$project': {'a': '$v'}}],
    'b': [{'$project': {'_id': 1, 'v': {'$divide': ['$v', 2]}}},
     {'$project': {'b': '$v'}}]}}]}

In [60]:
mdf.apply(lambda ctx: ctx.project(v={'$divide': ['$v', 2]})).value

     v
0  3.5
1  4.0
2  4.5
3  5.0
4  5.5
5  6.0
6  6.5
7  7.0
8  7.5
9  8.0

In [38]:
def applyfn(ctx):
    return {
        'a': ctx['v'] * 5,
        'b': ctx['v'] * 6
    }

mdf.apply(applyfn).value

    a   b
0  35  42
1  40  48
2  45  54
3  50  60
4  55  66
5  60  72
6  65  78
7  70  84
8  75  90
9  80  96

In [4]:
import pandas as pd
df = pd.DataFrame({
    'x': ['abc', 'def'] * 5,
    'b': ['xyz', 'nop'] * 5,
    'v': range(7, 17),
})

om.datasets.put(df, 'sample', append=False)


def groupby(ctx):
    ctx.groupby('x', sum={'$sum': '$v'})['sum'] * 2

mdf = om.datasets.getl('sample')
#mdf.apply(groupby).inspect()
mdf = mdf.apply(groupby)
print(mdf.inspect())
[v for v in mdf._get_cursor()]
mdf.value

{'pipeline': [{'$group': {'sum': {'$sum': '$v'}, '_id': {'x': '$x'}}}, {'$project': {'x': '$_id.x', 'sum': 1, '_id': 1}}, {'$project': {'x': '$x', 'sum': {'$multiply': ['$sum', 2]}, '_id': 1}}]}

     sum
x
def  120
abc  110

In [9]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda ctx: ctx.groupby('x').sum('v')).value

     v_sum
x
def     60
abc     55

In [21]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'mean', 'std'])).reset_cache().value

     v_avg     v_std  v_sum
x
def   12.0  3.162278     60
abc   11.0  3.162278     55

In [7]:
df = om.datasets.get('sample')
df.groupby('x').agg(dict(v=['sum', 'mean', 'std']))

      v
    sum mean       std
x
abc  55   11  3.162278
def  60   12  3.162278

In [12]:
[] or ['a']

['a']

In [31]:
def percentiles(ctx):
    pipeline 
    return pipeline

In [15]:
import json
mdf = om.datasets.getl('sample')
d = mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'avg', 'mean', 'std'])).inspect()['pipeline']
json.dumps(d, sort_keys=True)

'[{"$group": {"_id": {"x": "$x"}, "v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}}}, {"$project": {"_id": 1, "v_avg": "$v_avg", "v_std": "$v_std", "v_sum": "$v_sum", "x": "$_id.x"}}]'

In [38]:
import numpy as np
import json
import pandas as pd
df = pd.DataFrame({
    'x': np.random.randint(10000),
    'b': np.random.randint(10000),
    'v': range(10000),
})
#om.datasets.put(df, 'sample', append=False)
#[om.datasets.put(df, 'sample') for i in range(1000)]
mdf = om.datasets.getl('sample')
%time mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'avg', 'mean', 'std'])).persist()

CPU times: user 18.1 ms, sys: 0 ns, total: 18.1 ms
Wall time: 4.12 s

'97e1d97d4ecdf72c7d1e737930472daf'

In [44]:
mdf = om.datasets.getl('nytaxi')
mdf.apply(lambda ctx: ctx.groupby('DOLocationID').agg(fare_amount=['sum', 'avg', 'mean', 'std'])).persist()

'caa201fc5d0e59415cc5b3aa22362ee6'

In [51]:
%time mdf.apply(lambda ctx: ctx.groupby('DOLocationID').agg(fare_amount=['sum', 'avg', 'mean', 'std'])).value

CPU times: user 17.9 ms, sys: 3.35 ms, total: 21.3 ms
Wall time: 121 ms

              fare_amount_avg  fare_amount_std  fare_amount_sum
DOLocationID
105                 15.250000         6.717514            30.50
110                 86.500000              NaN            86.50
99                  65.166667        17.001961           391.00
204                 82.857015        21.448065          5551.42
5                   69.377049        27.056678          4232.00
207                  7.684613        12.346139          2582.03
187                 58.793103        19.720422          3410.00
30                  40.916667        15.949859          1227.50
109                 67.703488        14.899344          5822.50
111                 24.713256        15.517227          3188.01
221                 31.346269        21.598703         10501.00
245                 51.608913        18.766743          4748.02
154                 43.858974        18.356127          3421.00
172                 57.921488        13.941247          7008.50
44                  86.448276        15.425712          2507.00
118                 57.517964        15.566017          9605.50
253                 26.268293        12.882206          1077.00
251                 57.391494        13.781850          8838.29
176                 60.366667        16.099843          4527.50
156                 62.410610        14.182364          5117.67
59                  28.472222        12.009987          1537.50
34                  18.015149        10.398021         25329.30
64                  40.063116        11.441170         27002.54
46                  47.626098         9.952281          5858.01
102                 28.027305         8.085000         39938.91
8                   19.127329        10.605317          3079.50
149                 41.936082        13.901494         45920.01
150                 45.458061        13.072919         20865.25
203                 24.829926        15.382482         20137.07
101                 38.458425        13.866548         17575.50
...                       ...              ...              ...
53                  29.986111        12.205250         29146.50
155                 42.042592        14.145234         46877.49
133                 29.980472        14.163742         92129.99
108                 39.271167        16.212011         25565.53
147                 25.660118        12.459982         25993.70
51                  42.500000        15.434195         29877.50
126                 26.104081        11.544024         28845.01
95                  26.256557         8.351521        294125.95
97                  18.563935        11.659760        320116.50
215                 24.489040        13.321721         22701.34
72                  31.379196        11.329752         45248.80
196                 25.097656         9.572321         90351.56
121                 28.739553        10.048019         43741.60
175                 36.523422         8.589246         26041.20
58                  38.651188         9.573178          7807.54
240                 35.178519        13.083835          9498.20
216                 27.275793        16.867763         95492.55
67                  36.207645        11.597883         51813.14
31                  34.676976        11.325229         10091.00
40                  21.708623        13.248366        249106.45
208                 36.998763        12.825430         41290.62
134                 27.990971        11.148531         60824.38
171                 31.005414        11.212518         40090.00
254                 41.682152        13.241939         31761.80
2                   56.125000        66.314053           449.00
178                 34.999779        17.244288         31604.80
242                 34.444962        12.861420         31930.48
3                   41.324741        12.379090         19959.85
220                 33.782411        12.878340        124826.01
218                 20.568458        14.187771         20671.30

[262 rows x 3 columns]

In [12]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: dict(max={'$max': 'x'})).value

KeyboardInterrupt:

In [39]:
%time mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'avg', 'mean', 'std'])).value

CPU times: user 10.8 ms, sys: 3.8 ms, total: 14.6 ms
Wall time: 61.1 ms

       v_avg        v_std        v_sum
x
1088  4999.5  2886.751714  18848115000
3257  4999.5  2886.752761   5049495000

In [4]:
mdf = om.datasets.getl('sample')
%time mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'avg', 'mean', 'std'])).value

CPU times: user 14.2 ms, sys: 0 ns, total: 14.2 ms
Wall time: 61.4 ms

     v_avg     v_std     v_sum
x
def   12.0  2.828428  38811840
abc   11.0  2.828428  35577520

In [10]:
a = [1,2,3]
a[-1]

3

In [23]:
from hashlib import md5

md5('abc'.encode('utf-8')).hexdigest()

'900150983cd24fb0d6963f7d28e17f72'

In [3]:
om.setup()
om.datasets.mongodb

from omegaml.mixins.mdf.apply import ApplyCache
from omegaml.documents import QueryCache
%time [v.to_mongo().to_dict() for v in QueryCache.objects.all()]

CPU times: user 40.7 ms, sys: 409 µs, total: 41.1 ms
Wall time: 384 ms

[{'_id': ObjectId('5af1c9fdaebec30ec5915669'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '7d15a40833c90ee139878e3d1b4a0a79',
  'value': {'pipeline': '[{"$group": {"v_sum": {"$sum": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "_id": {"x": "$x"}, "v_avg": {"$avg": "$v"}}}, {"$project": {"v_sum": "$v_sum", "v_std": "$v_std", "v_avg": "$v_avg", "_id": 1, "x": "$_id.x"}}, {"$out": "cache_61b8542b0926446db73e569b2de2c3a3"}]',
   'result': None}},
 {'_id': ObjectId('5af1d773aebec30ec59189fb'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'c2a273b5a9a1554e96006f689aa2fe94',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "v_avg": {"$avg": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_sum": "$v_sum", "x": "$_id.x", "v_std": "$v_std", "v_avg": "$v_avg", "_id": 1}}, {"$out": "cache_b9f62e22aedf4278adc2ac7944b90c5d"}]',
   'result': 'cache_b9f62e22aedf4278adc2ac7944b90c5d'}},
 {'_id': ObjectId('5af1da21aebec30ec591a647'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'c52225723a1959a83c313c9d58c7a31d',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"x": "$_id.x", "v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_0b663113b64a4c8b8d0d2bbb8635becd"}]',
   'result': 'cache_0b663113b64a4c8b8d0d2bbb8635becd'}},
 {'_id': ObjectId('5af1da32aebec30ec591a69c'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'd3e2226116b10c8371de163286a569aa',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_9c7a32c33e424e1ba4388d369dfdf384"}]',
   'result': 'cache_9c7a32c33e424e1ba4388d369dfdf384'}},
 {'_id': ObjectId('5af1da7daebec30ec591a7e9'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '668d83f6483bfe33a7854beb95b4202f',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_84cfd9672e3f4fe7b306958b600e0821"}]',
   'result': 'cache_84cfd9672e3f4fe7b306958b600e0821'}},
 {'_id': ObjectId('5af1da81aebec30ec591a801'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '85b44b868c5d2c0b44bde70bc9169946',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_3f6d79e918f5489e80629ade342c48ab"}]',
   'result': 'cache_3f6d79e918f5489e80629ade342c48ab'}},
 {'_id': ObjectId('5af1da87aebec30ec591a82c'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'e021144a595794c52cc2fa9845222479',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_bc4042aa09ec4ef8849b3f46cfb4801b"}]',
   'result': 'cache_bc4042aa09ec4ef8849b3f46cfb4801b'}},
 {'_id': ObjectId('5af1dacfaebec30ec591a953'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '81d0e582bada0838817f77db41225886',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_4ead10ad26634da4812d15aa60d39dd2"}]',
   'result': 'cache_4ead10ad26634da4812d15aa60d39dd2'}},
 {'_id': ObjectId('5af1dad2aebec30ec591a970'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'b05e94e1e8da67bc0a3367f537e6e906',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_98673bdffd134c14ab5e0b26e9310701"}]',
   'result': 'cache_98673bdffd134c14ab5e0b26e9310701'}},
 {'_id': ObjectId('5af1dad4aebec30ec591a98d'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '222d69a0b80446ebea896adde4a2fa81',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_367f34a7e49c4241bd74f87dda97a622"}]',
   'result': 'cache_367f34a7e49c4241bd74f87dda97a622'}},
 {'_id': ObjectId('5af1dad6aebec30ec591a9a1'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'f1eb3e313350d2043ae35af9ae9d20a2',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_42625c9acbb547cfb9fa683b099f68f6"}]',
   'result': 'cache_42625c9acbb547cfb9fa683b099f68f6'}},
 {'_id': ObjectId('5af1dad8aebec30ec591a9b3'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'ca168fcdbb0625ba64432d718ab285c1',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_bb2af5d5cf0b4939b3a9275d3a2c443d"}]',
   'result': 'cache_bb2af5d5cf0b4939b3a9275d3a2c443d'}},
 {'_id': ObjectId('5af1dadaaebec30ec591a9c8'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '1ddda8082e920233c769691e70849f56',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_75ba57c702c44f99a6962567025a5bc6"}]',
   'result': 'cache_75ba57c702c44f99a6962567025a5bc6'}},
 {'_id': ObjectId('5af1daf4aebec30ec591aa3f'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'f3b8644a1037167222f47770c1a677dc',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"x": "$_id.x", "v_avg": "$v_avg", "v_sum": "$v_sum", "v_std": "$v_std", "_id": 1}}, {"$out": "cache_5c9dd9217fbe4f37b6d94c0b367b594e"}]',
   'result': 'cache_5c9dd9217fbe4f37b6d94c0b367b594e'}},
 {'_id': ObjectId('5af1dafbaebec30ec591aa67'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '9f3dfe616d752ec2a628b2df308656b6',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"x": "$_id.x", "v_avg": "$v_avg", "v_sum": "$v_sum", "v_std": "$v_std", "_id": 1}}, {"$out": "cache_24e18714530749b4b895e9d11e70037e"}]',
   'result': 'cache_24e18714530749b4b895e9d11e70037e'}},
 {'_id': ObjectId('5af1db2faebec30ec591ab47'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '2d146708fab9cdfc82d9b39329565e9c',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_92c7d0f4c7bf4f509949182b48e5f680"}]',
   'result': 'cache_92c7d0f4c7bf4f509949182b48e5f680'}},
 {'_id': ObjectId('5af1db33aebec30ec591ab63'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '4507ddc3ffe3294b1265899c70da17c9',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_3475c08b9110473c8d512de485b06e61"}]',
   'result': 'cache_3475c08b9110473c8d512de485b06e61'}},
 {'_id': ObjectId('5af1db3baebec30ec591ab8e'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'fb507b70f2608aa19af1617b63ff884d',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_e9aac1fe4f8a47c0998f6129f83a906d"}]',
   'result': 'cache_e9aac1fe4f8a47c0998f6129f83a906d'}},
 {'_id': ObjectId('5af1db3eaebec30ec591aba3'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '8f8a2f71020084f5d113a3a91b6a64ce',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_d7df1df3d04a449fb59be36fa9741dee"}]',
   'result': 'cache_d7df1df3d04a449fb59be36fa9741dee'}},
 {'_id': ObjectId('5af1db42aebec30ec591abc4'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '703f382d23424cc4a2335362aba1ba05',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_b07117a5ba5f450ea009714114374032"}]',
   'result': 'cache_b07117a5ba5f450ea009714114374032'}},
 {'_id': ObjectId('5af1db4eaebec30ec591ac05'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '998d8395ab15b403c6777e6e357f5515',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_46607a68616a40d498af8286aacaf53b"}]',
   'result': 'cache_46607a68616a40d498af8286aacaf53b'}},
 {'_id': ObjectId('5af1db52aebec30ec591ac21'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'ed3ba40eb51b9e020694f6878de4b104',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_3c794fc9e53749a9acfb14fd6b68e0d4"}]',
   'result': 'cache_3c794fc9e53749a9acfb14fd6b68e0d4'}},
 {'_id': ObjectId('5af1db59aebec30ec591ac49'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '809ef0e8f9dd1f5f0ef6211fe6aa8440',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_38c7e031917e4047988ca502e17981a2"}]',
   'result': 'cache_38c7e031917e4047988ca502e17981a2'}},
 {'_id': ObjectId('5af1db5eaebec30ec591ac66'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '48fadb0dcb18965a313f0bf2a5f4c37c',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_7330ecdd69bb403687805c83c14ffc2c"}]',
   'result': 'cache_7330ecdd69bb403687805c83c14ffc2c'}},
 {'_id': ObjectId('5af1dc3daebec30ec591afed'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '97e1d97d4ecdf72c7d1e737930472daf',
  'value': {'collection': 'omegaml.data_.sample.datastore',
   'result': 'cache_4ae29ebf2c70414497c5f65bf0980daa'}}]

In [6]:
%time [v for v in mdf.collection.database['cache_999b1066e1894a22b38c0e61c2e948ec']

CPU times: user 0 ns, sys: 3.89 ms, total: 3.89 ms
Wall time: 22 ms

[]

In [29]:
from omegaml.documents import QueryCache
QueryCache.objects.filter(value__collection='omegaml.data_.sample.datastore').delete()

0